# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Jian Lu
	email = tristan.uva@gmail.com

[core]
	editor = "emacs -nw"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
